<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
</head>
<body>
   <h1>{{title}}</h1>
   <h2>{{body}}</h2>         

   <button type="submit", id = "logInButton">{{buttonText}}</button>
   <button id="registerButton">{{buttonText2}}</button>

   <script>
        // Event listener for Log In Button
        const logInButton = document.getElementById('logInButton');
        logInButton.addEventListener('click', function() {
            console.log('Log In Button Clicked!');
             
            window.location.href = '/login';
            console.log(window.location.href)
            // Perform actions related to log in button...
        });

        // Event listener for Register Button
        const registerButton = document.getElementById('registerButton');
        registerButton.addEventListener('click', function() {

            window.location.href = '/register';
            console.log('Register Button Clicked!');
            // Perform actions related to register button...
        });
    </script>
</body>
</html>